@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: #e6f0ff;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn {
  background-color: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-self: center;
}
.btn img {
  margin-left: 7px;
}
.btn.dark-btn {
  background-color: #212ea0;
  color: #fff;
}
/* -------------- Media Query --------------- */
@media (max-width: 1300px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 14px 22px;
  }
}

@media (max-width: 760px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }
}
